!fonts&stuff
XTerm*renderFont: true
XTerm*faceName: Hack
XTerm*faceSize: 12
xterm*eightBitInput: false

xterm*font: -*-fixed-medium-r-*-*-18-*-*-*-*-*-iso8859-*
xterm*font1: -*-*-*-*-*-*-2-*-*-*-*-*-*-*
xterm*font2: -misc-fixed-*-r-normal-*-8-*-*-*-*-*-iso8859-*
xterm*font3: -b&h-lucidatypewriter-bold-*-*-*-12-*-*-*-*-*-*-*
xterm*font4: -*-screen-bold-r-normal-*-16-*-*-*-*-*-iso8859-*
xterm*font5: -*-lucidatypewriter-medium-*-*-*-18-*-*-*-*-*-*-*
xterm*font6: -*-lucidatypewriter-medium-*-*-*-20-*-*-*-*-*-*-*
xterm*font7: -dec-terminal-bold-r-normal-*-14-*-*-*-*-*-iso8859-*

! VT Font Menu: Unreadable
xterm*faceSize1: 10
! VT font menu: Tiny
xterm*faceSize2: 12
! VT font menu: Medium
xterm*faceSize3: 16
! VT font menu: Large
xterm*faceSize4: 22
! VT font menu: Huge
xterm*faceSize5: 24

!Background & foreground
XTerm*internalBorder: 10
!Turning off scrollbar
XTerm*scrollBar:  off

XTerm*metaSendsEscape: true

!Starting up with a geometry
XTerm*vt100*geometry: 88x24
XTerm*VT100*selectToClipboard: true


!
! Generated with :
! XRDB2Xreources.py
!
*.foreground:  #d9d9d9
*.background:  #0c0c0c
*.cursorColor: #fc971f
!
! Black
*.color0:      #1a1a1a
*.color8:      #625e4c
!
! Red
*.color1:      #f4005f
*.color9:      #f4005f
!
! Green
*.color2:      #98e024
*.color10:     #98e024
!
! Yellow
*.color3:      #fd971f
*.color11:     #e0d561
!
! Blue
*.color4:      #9d65ff
*.color12:     #9d65ff
!
! Magenta
*.color5:      #f4005f
*.color13:     #f4005f
!
! Cyan
*.color6:      #58d1eb
*.color14:     #58d1eb
!
! White
*.color7:      #c4c5b5
*.color15:     #f6f6ef
!
! Bold, Italic, Underline
*.colorBD:     #ebebeb
!*.colorIT:
!*.colorUL:

Xcursor.size: 16
